# -------------------------------------
# Zynthian setBfree configuration
# -------------------------------------

#Read Extra configuration Files
#config.read=osc-xwave.cfg

#Customized MIDI Controller
midi.controller.pedals.7=swellpedal1
midi.controller.lower.7=swellpedal1
midi.controller.upper.7=swellpedal1
midi.controller.upper.23=overdrive.enable
midi.controller.upper.65=rotary.speed-select
midi.controller.upper.99=reverb.mix

#Middle A frecuency
osc.tuning=440
